/* project/src/components/SearchBar/searchBar.css */

.searchBarWrapper {
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    height: 3rem;
    padding: 0 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.searchBarWrapper:focus-within {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.searchIcon {
    color: #be9656;
    font-size: 1.2rem;
    margin-right: 12px;
}

.searchInput {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.1rem;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: #333;
}

.searchInput::placeholder {
    color: #aaa;
}

.searchInput:focus {
    outline: none;
}